<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS.dao.BoardDAO">
	
	<select id="getBoardList" resultType="com.spring.springGroupS.vo.BoardVO">
		select *, 
			timestampdiff(hour, wDate, now()) as hour_diff,
			datediff(now(), wDate) as date_diff
			from board2 b order by idx desc limit 0,10;
	</select>

	<select id="getTotRecCnt" resultType="int">
		select count(*) from board2;
	</select>
	
	<select id="getBoardContent" resultType="com.spring.springGroupS.vo.BoardVO">
		select * from board2 where idx = #{idx};
	</select>
	
	<insert id="setBoardInput">
		insert into board2 values (default,#{vo.mid},#{vo.nickName},#{vo.title},#{vo.content},#{vo.hostIp},#{vo.openSw},default,default,default,default);
	</insert>
</mapper>